<p>user-list works!</p>


<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
<!--        <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>-->
        <!--        <td><button class="btn btn-warning" (click)="updateUser(user)"> Edit User</button></td>-->
<!--        <td><button class="btn btn-warning" [routerLink]="['/update', user.id]"> Edit User</button></td>-->
        <!--        <td><button class="btn btn-warning" [routerLink]="['/update', user.id]"> View Cart</button></td>-->

      </tr>
      </tbody>
    </table>
  </div>
</div>
